name: /scratch/janniss/conda/halutmatmul_hw
channels:
  - joennlae
  - litex-hub
  - conda-forge
  - defaults
dependencies:
  - python=3.7
  # IDE deps
  - black
  - pylint
  - pytest
  - pre-commit
  - mypy=0.942
  - pytest-xdist
  - numpy # mypy
  # HW deps
  - zachjs-sv2v
  - openroad-gui
  - yosys
  - verilator
  - verible
  - iverilog
  - patchelf
  - elfutils
  - pip
  # lowRISC IP deps
  - mako
  # report
  - pandas
  - pip:
    - git+https://github.com/joennlae/edalize.git@openroad-flow-script # git+https://github.com/lowRISC/edalize.git@ot-0.1 # edalize
    - git+https://github.com/lowRISC/fusesoc.git@ot-0.1 # fusesoc
    - cocotb # for UVM
    - anytree
    - hjson # vendor.py
prefix: /scratch/janniss/conda/halutmatmul_hw
